@model Sitecore.Feature.Blog.Areas.Blog.Models.CategoryListingViewModel

@if (Model != null && Model.Categories.Any())
{
    <text>
        <div class="widget widget-categories">
            <h2>@Model.Title</h2>
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <text>
                        <li class="cat-item cat-@category.Name">
                            <a href="@category.Url">@category.Name</a>
                        </li>
                    </text>
                }
            </ul>
        </div>
    </text>
}
