@using Sitecore.Feature.Blog.Sitecore.Feature.Blog.Feature.Blog
@model Sitecore.Feature.Blog.Areas.Blog.Models.BlogPostDetailViewModel

<div itemprop="headline">
    <h1>@Html.Sitecore().Field(BlogPost.TitleFieldIdRaw)</h1>
</div>
<div itemprop="articleBody">
    @Html.Sitecore().Field(BlogPost.BodyFieldIdRaw)
</div>