@model Sitecore.Feature.Blog.Areas.Blog.Models.TagCloudListingViewModel
    
@if (Model != null)
{
    <text>
        <div class="widget widget-tag-cloud">
            <h2>@Model.Title</h2>
            @if (Model.Tags.Any())
            {
                <ul>
                    @foreach (var tag in Model.Tags)
                    {
                        <text>
                            <li class="tag-item tag-@tag.Name tag-weight-@tag.Weight">
                                <a href="@tag.Url">@tag.Name</a>
                            </li>
                        </text>
                    }
                </ul>
            }
            else if (Sitecore.Context.PageMode.IsExperienceEditor)
            {
                <p>No tags have been found for this blog.</p>
            }
        </div>
    </text>
}

