@using Sitecore.Feature.Blog.Areas.Blog.Models
@model BlogListingViewModel

<div class="post-listing">
    @if (Model.SearchResults.Results.Any())
    {
        foreach (var item in Model.Posts)
        {
            @Html.Partial("BlogViewModel", item)
        }

        if (Model.Paging != null)
        {
            @Html.Partial("PaginationViewModel", Model.Paging)
        }
    }
    else
    {
        <p>No posts found!</p>
    }
</div>