<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Example Blog Layout</title>

    @Html.Sitecore().Placeholder("head")
</head>
<body>
    @Html.Sitecore().Placeholder("body")
</body>
</html>
