<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Example Blog Layout</title>

    @Html.Sitecore().Placeholder("head")
</head>
<body>
    <div style="width: 60%; float:left">
        @Html.Sitecore().Placeholder("body")
    </div>
    <div style="width: 40%; float:left">
        @Html.Sitecore().Placeholder("sidebar")
    </div>
</body>
</html>
