<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <blog>
      <tokens>
        <token type="Sitecore.Feature.Blog.Tokens.SlugToken, Sitecore.Feature.Blog">
          <friendly>slug</friendly>
          <token>$slug</token>
        </token>
        <token type="Sitecore.Feature.Blog.Tokens.TagName, Sitecore.Feature.Blog">
          <friendly>tag</friendly>
          <token>$tag</token>
        </token>
        <token type="Sitecore.Feature.Blog.Tokens.CategoryName, Sitecore.Feature.Blog">
          <friendly>category</friendly>
          <token>$category</token>
        </token>
        <token type="Sitecore.Feature.Blog.Tokens.PostYearToken, Sitecore.Feature.Blog">
          <friendly>year</friendly>
          <token>$year</token>
        </token>
        <token type="Sitecore.Feature.Blog.Tokens.PostMonthToken, Sitecore.Feature.Blog">
          <friendly>month</friendly>
          <token>$month</token>
        </token>
        <token type="Sitecore.Feature.Blog.Tokens.AuthorToken, Sitecore.Feature.Blog">
          <friendly>author</friendly>
          <token>$author</token>
        </token>
        <token type="Sitecore.Feature.Blog.Tokens.PageToken, Sitecore.Feature.Blog">
          <friendly>page</friendly>
          <token>$page</token>
        </token>
      </tokens>
      <resolvers>
        <resolver desc="post" type="Sitecore.Feature.Blog.Resolvers.DefaultResolver, Sitecore.Feature.Blog" resolve="true">
          <template>{bd48d35d-ae82-4269-8e9e-b21a5f17b363}</template>
          <permalinks hint="list">
            <permalink>/$year/$month/$slug</permalink>
            <permalink>/post/$slug</permalink>
            <permalink>/$slug</permalink>
          </permalinks>
        </resolver>
        <resolver desc="tag" type="Sitecore.Feature.Blog.Resolvers.DefaultResolver, Sitecore.Feature.Blog" resolve="true">
          <template>{b05c5f99-615b-46e4-a0f0-fb43e62c404f}</template>
          <permalinks hint="list">
            <permalink>/tag/$tag</permalink>
            <permalink>/tag/$tag/page/$page</permalink>
          </permalinks>
        </resolver>
        <resolver desc="category" type="Sitecore.Feature.Blog.Resolvers.DefaultResolver, Sitecore.Feature.Blog" resolve="true">
          <template>{b8b0484c-f1a9-4a18-afa4-a7b942063d54}</template>
          <permalinks hint="list">
            <permalink>/category/$category</permalink>
            <permalink>/category/$category/page/$page</permalink>
          </permalinks>
        </resolver>
        <resolver desc="archive" type="Sitecore.Feature.Blog.Resolvers.ArchiveResolver, Sitecore.Feature.Blog" resolve="true">
          <template></template>
          <permalinks hint="list">
            <permalink>/page/$page</permalink>
            <permalink>/$year/$month</permalink>
            <permalink>/archive/$year/$month</permalink>
            <permalink>/archive/$year/$month/page/$page</permalink>
          </permalinks>
        </resolver>
        <resolver desc="author" type="Sitecore.Feature.Blog.Resolvers.DefaultResolver, Sitecore.Feature.Blog" resolve="true">
          <template>{702b64d5-58da-475f-843f-5bdf09a40e36}</template>
          <permalinks hint="list">
            <permalink>/author/$author</permalink>
          </permalinks>
        </resolver>
      </resolvers>
    </blog>
    <services>
      <configurator type="Sitecore.Feature.Blog.RegisterDependencies, Sitecore.Feature.Blog" />
    </services>

    <linkManager defaultProvider="blog">
      <providers>
        <add name="blog" type="Sitecore.Feature.Blog.Links.LinkProvider, Sitecore.Feature.Blog" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="asNeeded" languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false"/>
      </providers>
    </linkManager>


    <events>
      <event name="item:saving">
        <handler type="Sitecore.Feature.Blog.Events.BlogSlugSavingEvent, Sitecore.Feature.Blog" method="OnItemSaving">
          <database>master</database>
        </handler>
      </event>
    </events>
    
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Sitecore.Feature.Blog.Pipelines.HttpRequest.BlogContextResolver, Sitecore.Feature.Blog"/>
      </httpRequestBegin>

<!--      <mvc.renderRendering>
        <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" type="Sitecore.Feature.Blog.Pipelines.RenderRendering.VaryByBlogParameter, Sitecore.Feature.Blog" />
      </mvc.renderRendering>-->
      <blog.linkProvider>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogLinkProvider.ResolveByItem, Sitecore.Feature.Blog"/>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogLinkProvider.ResolveByContext, Sitecore.Feature.Blog"/>
      </blog.linkProvider>
      <blog.resolveContext>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogContextResolver.ResolveBlog, Sitecore.Feature.Blog"/>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogContextResolver.ResolveContextItem, Sitecore.Feature.Blog"/>
      </blog.resolveContext>
      <blog.resolveUrl>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogUrlResolver.ResolvePermalink, Sitecore.Feature.Blog"/>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogUrlResolver.ResolveUrlToContextItem, Sitecore.Feature.Blog"/>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogUrlResolver.MapToBlogContext, Sitecore.Feature.Blog"/>
      </blog.resolveUrl>
      <blog.resolveAbstractUrl>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogAbstractUrlResolver.AbstractUrlMappingResolver, Sitecore.Feature.Blog">
          <permalinks hint="list">
            <permalink>/page/$page</permalink>
            <permalink>/$year/$month</permalink>
            <permalink>/$year/$month/page/$page</permalink>
            <permalink>/tag/$tag/page/$page</permalink>
            <permalink>/category/$category/page/$page</permalink>
          </permalinks>
        </processor>
      </blog.resolveAbstractUrl>
      <blog.generateSlug>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogGenerateSlug.BlogPostSlugGenerator, Sitecore.Feature.Blog"/>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogGenerateSlug.BlogCategorySlugGenerator, Sitecore.Feature.Blog"/>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogGenerateSlug.BlogTagSlugGenerator, Sitecore.Feature.Blog"/>
        <processor type="Sitecore.Feature.Blog.Pipelines.BlogGenerateSlug.BlogAuthorSlugGenerator, Sitecore.Feature.Blog"/>
      </blog.generateSlug>
    </pipelines>
  </sitecore>
</configuration>